/* Estilos específicos para la sección de configuraciones */
.config-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    text-align: center;
    margin: 20px auto 0 auto;
}

.settings-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.settings-option label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.input-configuracion {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.form-check-input {
    margin-right: 10px;
}

.btnGuardar {
    background-color: #DAAD29;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}
