/* Estilos específicos para la sección de configuraciones */
.config-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: white;
    height: auto;
    padding: 10px;
    border-radius: 15px;
}

.settings-section {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.settings-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.settings-option label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-control,
.form-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.form-check-input {
    margin-right: 10px;
}

.btnGuardar {
    background-color: #DAAD29;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}
