body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; 
}
.navbar-brand img {
    margin-right: 10px;
}

#logo {
    margin-left: 75px;
    width: 120px;
}
.usuarioH{
    font-weight: bold;
}
.navbar-text {
    font-weight: bold;
    color: #d4c469;
    
}
.gold{
    color: #d4c469;
}
.w-33{
    width: 33.33%;
    transition: transform 0.5s;
}
.w-33:hover{
    transform: scale(1.2);
}
.LogOut {
    background-color: #DAAD29;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

/* Sidebar */
aside {
    background-color: #343a40;
    color: #ffffff;
    padding-top: 20px;
}

aside a {
    color: #ffffff;
    font-size: 1.1em;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

aside a:hover {
    background-color: #bbaa4b;
    color: white;
}

aside a i {
    margin-right: 8px;
}

/* Gráfica */
.grafica {
    grid-area: grafica;
    background: #f1db99;
    width: 70%;
    max-width: 100%;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.graficaImg {
    width: 90%;
}

.tituloGrafica {
    font-size: 2em;
    color: black;
}

/* Fechas Próximas */
.FechasProximas {
    grid-area: fechasproximas;
    background: #eee2ab;
    color: black;
    max-width: 100%;
    padding: 30px;
    border-radius: 15px;
}
.fechaProx {
    font-size: 1.5em;
    margin-bottom: 50px;
    margin-left: 70px;
    font-weight: bold;
    margin-top: 20px;
}

.letraFecha {
    font-size: 1.3em;
    padding: 15px;
}

main h2 {
    font-size: 1.75em;
    color: #343a40;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Responsive */
@media (max-width: 768px) {
    aside {
        display: none;
    }

    .main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-primary {
        width: 100%;
        margin-top: 10px;
    }

}
