.carousel-inner {
    border-radius: 10px;
    overflow: hidden;
}

.carousel-item img {
    object-fit: cover;
    height: 300px;
}

.grafica {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

.graficaImg {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.fechaProx {
    color: #333;
    font-weight: bold;
}

.FechasProximas {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.hover-animate:hover {
    background-color: #dcdcdc;
    transition: background-color 0.3s ease;
}

.card-custom {
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-custom:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-custom .card-body {
    padding: 30px;
}

.card-custom .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-custom .card-text {
    font-size: 1.25rem;
    font-weight: 500;
}