/* VARIABLES */
html {
    --color-gold: #D4C469;
    --color-black: BLACK;
    --color-white: WHITE;
    --color-green: #28A745;
    --color-yellow: #FFD700;
    --color-blue: #1D7DE3;
    --color-gray: #555555;
    --color-dark-blue: #055A91;
    --color-dark-grey: rgb(41, 41, 41);
    height: 100%;
}

/* BODY */
body {
    font-size: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
.navbar {
    background-color: black;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
}

.navbar img {
    width: 120px;
    margin-left: 40px;
    transition: filter 0.3s ease;
}

.plan {
    font-size: 0.8em;
    font-style: italic;
}

.navbar-brand img:hover {
    filter: brightness(1.5);
}

.navbar-text,
.navbar i {
    color: var(--color-white);
}


.navbar .navbar-nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .dropdown a:hover{
    background: var(--color-gold);
}

/* SIDEBAR */
#sidebar {
    width: 250px;
    background-color: var(--color-dark-grey);
    height: auto;
    box-shadow: 4px 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    flex-shrink: 0;
}

#sidebar a {
    display: block;
    width: 100%;
    color: var(--color-white);
    font-size: 1.1em;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.2s ease;
    text-align: left;
    transition: all 0.3s ease;
}

#sidebar a:hover {
    background-color: var(--color-gray);
    transform: translateX(10px);
}

#sidebar h5 {
    color: var(--color-gold);
    font-size: 0.9em;
}

.sidebar-section {
    margin-bottom: 30px;
    width: 100%;
}

.icon {
    color: var(--color-gold);
    width: 30px;
    text-align: center;
}

.text {
    padding-left: 5px;
}

/* CONTENT AREA */
.container-fluid {
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
    flex-wrap: wrap;
}

#content {
    padding: 20px;
    flex: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.user-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.user-section .navbar-text {
    margin-right: 10px;
}

/* MAIN CONTENT AREA */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 60px);
}

.footer {
    background-color: var(--color-dark-grey);
    color: var(--color-white);
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    margin-top: 10px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
}

.footer p {
    margin: 0px;
    font-style: italic;
}

/* SWEET ALERT */
.swal-popup {
    background-color: var(--color-dark-grey);
    color: var(--color-white);
    border-radius: 20px;
    padding: 20px;
}

.swal-title {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.swal-text {
    font-size: 1.1em;
    text-align: center;
}

.swal-btn {
    border-radius: 10px;
    padding: 15px;
    background-color: var(--color-dark-grey);
    padding: 10px 30px;
    border: 1px solid white;
    transition: all 0.3s ease;
}

.swal-btn:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

body.swal2-shown {
    overflow: hidden;
}

/* Responsive Design */

/* Small Devices */
@media (max-width: 768px) {

    .navbar img {
        width: 80px;
        margin-left: 10px;
    }

    .navbar .navbar-nav {
        justify-content: center;
    }

    .container-fluid {
        flex-direction: column;
    }

    #content {
        padding: 10px;
    }

    .user-section {
        justify-content: center;
        text-align: center;
    }
}

/* Extra Small Devices */
@media (max-width: 576px) {
    body {
        font-size: 14px;
    }

    .navbar img {
        width: 60px;
    }

    .footer {
        font-size: 0.7em;
    }
}

/* Medium Devices */
@media (min-width: 769px) and (max-width: 1024px) {
    #sidebar {
        width: 200px;
    }

    #content {
        padding: 15px;
    }
}
