/* Estilos para el contenedor de notas */
.notas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 15px;
    width: 100%;
    max-width: 900px;
    margin: 20px auto 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    height: 800px;
}

.notas-container .alert {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

/* Centrado vertical */

.botones {
    width: 900px; 
    margin: 0 auto;
}

/* Estilos para las notas */
.nota {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid gray;
}

.nota textarea {
    width: 100%;
    border: none;
    resize: none;
    background: transparent;
    font-size: 1em;
    color: #333;
}


#updateNota {
    display: none;
}